.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 10px auto 0;

	padding: 10px 25px;
	

	background-color: var(--white);

	border-radius: 15px;
}

.header__logo img {
	width: 164px;
}

.header__list {
	display: flex;
	align-items: center;
	gap: 0 40px;
}

.header__phone {
	color: var(--navi-blazer);
	font-family: Gilroy, sans-serif;
font-size: 18px;

font-weight: 700;
}

.header__btn{
	width: 190px;
	height: 50px;
}

.btn{
	background-color: var(--sky-magritte);
	border-radius: 5px;

	color: var(--white);
	font-family: Gilroy, sans-serif;
font-size: 14px;
font-weight: 700;
}