.evolution-tech{
	max-width: 1840px;
	margin: 0 auto;
	border-radius: 60px;
	background-color: #ffffff;

}

.evolution-tech__content{
	margin: 0 auto;
	padding: 140px 0;
}

.block-text__evolution-tech {
	margin-bottom: 60px;
	text-align: center;
}

.loader{

}

.loader__list {
	display: flex;
	gap: 100px;
	justify-content: center;
}

.loader__item{
	position: relative;
}

.loader__btn-item {
	position: relative;
	width: 30px;
	height: auto;
	cursor: pointer;

}

.loader__btn-item_1 {
	position: absolute;
	top: 80px;
	left: 18px;

}

.loader__btn-item_2 {
	position: absolute;
	top: 317px;
	left: 124px;
}

.loader__btn-item_3 {
	position: absolute;
	top: 8px;
	left: 187px;
}

.loader__btn-item_4 {
	position: absolute;
	top: 390px;
	left: 52px;
}




.inf{
	display: none;
	justify-content: center; 
	align-items: center; 
	position: absolute;
	top: 0;
	left: 310px;
	max-width: 228px;
	width: 100%;
	height: 90px;
	border-radius: 15px;
	background-color: var(--white-solid);
	
}

.inf__text{
	font-size: 16px;
	font-weight: 600;
	color: var(--navi-blazer);
}

.inf:after{
	content: "";
  position: absolute;
  top: 18px;
  left: -18px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid var(--sky-magritte);
  transform: rotate(-90deg);
}

.active{
	display: flex;
}