.block-text{
	line-height: 60px;
}

.block-text__title {
	font-family: Gilroy, sans-serif;
font-size: 66px;

margin-bottom: 25px;

font-weight: 700;
color: var(--navi-blazer);
}

.block-text__title_blue{
	color: var(--sky-magritte);
}

.block-text__text{
	font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
}
